<!DOCTYPE html>
<html lang="<%=config.language%>">

    <%- partial('_partial/head') %>

    <% if(page.layout === 'gallery') { %>
        <!-- Single Gallery Page -->
        <%- partial('_widget/page-gallery') %>
    <% } else { %>
        <body id="scheme-<%= theme.scheme %>" class="lazy">
            <!-- menu -->
            <div class="menuHolder">
                <a href="<%- config.root %>"><img src="/img/playpass.svg" border="0" id="playpass" /></a>
            <%
            var posts = [];
            site.posts.forEach(function(item){
                if(item.type=="menu") {
                    posts.push(item);
                }
            });
            posts.sort(function(a, b){
                return a.order > b.order
            });
            %>
            <% for (i = 0; i < posts.length; i++) {  var item=posts[i]; %>
                <a href="<%- config.root %><%- item.path %>" class="navlink"><%- item.title %></a>&nbsp;
            <% }; %>
            </div>

            <div class="material-layout  mdl-js-layout has-drawer is-upgraded">
                <% if(theme.scheme === 'Isolation') { %>
                    <!-- Isolation Header -->
                    <%- partial('_partial/isolate_info') %>
                <% } %>

                <!-- Main Container -->
                <main class="material-layout__content" id="main">

                    <!-- Top Anchor -->
                    <div id="top"></div>

                    <% if(theme.scheme === 'Paradox') { %>
                        <!-- Hamburger Button -->
                        <button class="MD-burger-icon sidebar-toggle">
                            <span id="MD-burger-id" class="MD-burger-layer"></span>
                        </button>
                    <% } %>

                    <%- body %>

                    <% if(theme.scheme === 'Paradox') { %>
                        <%- partial('_partial/sidebar') %>
                    <% } %>

                    <% if( (theme.scheme === 'Paradox') && (is_post() || is_home() || is_archive() || is_category() || (page.totop === true) ) ) { %>
                        <!-- Footer Top Button -->
                        <%- partial('_partial/footer_top')  %>
                    <% } %>

                    <%- partial('_partial/footer') %>

                    <%- partial('_partial/import_js') %>
                </main>
            </div>
        </body>
    <% } %>
</html>
