            <!-- menu -->
            <div class="menuHolder">
                <a href="<%- config.root %>"><img src="/img/playpass.svg" border="0" id="playpass" /></a>
            <%
            var posts = [];
            site.posts.forEach(function(item){
                if(item.type=="menu") {
                    posts.push(item);
                }
            });
            posts.sort(function(a, b){
                return a.order > b.order
            });
            %>
            <% for (i = 0; i < posts.length; i++) {  var item=posts[i]; %>
                <a href="#" class="navlink"><%- item.title %></a>&nbsp;
                <!--<a href="<%- config.root %><%- item.path %>" class="navlink"><%- item.title %></a>&nbsp;-->
            <% }; %>
            </div>